/* Blog Preview */

.content-container .blog-grid{
    margin: 20px 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
}

.blog-preview .category{
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #6d6e70;
    font-weight: 800;
}

.blog-preview .category > i{
    color: #6d6e70;
}

.blog-preview .thumbnail-container {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    background-color: black;
    overflow: hidden;
    aspect-ratio: 5 / 3;
}

.blog-preview .thumbnail-container .thumbnail{
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: none;
    position: absolute;
    inset: 0px;
}

.blog-preview .title{
    margin: 15px 0;
    font-size: 1.8rem;
}

.blog-preview .title > a:hover{
    color: #6d6e70;
}

.blog-preview .description {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #6d6e70;
}

.blog-preview .publish-info{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.blog-preview .publish-info > div > i, .blog-preview .publish-info > a > i{
    margin-right: .6rem;
}


/* Category Page */
.category-container{
    margin-top: 20px;
    justify-content: center;
    flex-direction: column;
}

.category-container > h2{
    font-size: 40px;
}

.category-container .category-grid{
    margin: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.category-container .category-grid .category-item{
    padding: 25px;
    font-size: 1.2rem;
    background: #eee;
    box-shadow: 0 8px 8px -4px lightblue;
    transition: .2s ease-in-out;
}

.category-container .category-grid .category-item:hover{
    box-shadow: 0 8px 8px -1px lightblue;
}

/* Page buttons*/
.pagination{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 20px;
    list-style-type: none;
}

.pagination > li{
    border: 1px solid rgb(124, 124, 170);
    padding: 10px;
    background-color: aliceblue;
    margin: 0 2px;
    border-radius: 10px;
}

.pagination > li:hover{
    background-color: #6d6e70;
}

.pagination > li:hover > a{
    color: #fff;
}

.pagination > li.active{
    background-color: #6d6e70;
}

.pagination > li.active a{
    color: #fff;
}
