@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://db.onlinewebfonts.com/c/a44207bfe4040f536c824dbbf82f5ed1?family=e-Ukraine');

/* Footer CSS*/
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:#282d32;
    font-family: "e-Ukraine";
}

footer .footer-logo{
    margin-top: 1vh;
    font-size: 2rem;
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
}

footer .footer-logo img{
    max-width: 6vw;
    max-height: 6vh;
}

footer .footer-container{
    margin-top: 1rem;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer .footer-container .footer-column{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.footer-column > h2{
    font-size: 1.2rem;
    width: 10vw;
    color: #fff;
    border-bottom: 3px solid aliceblue;
}

.footer-column > a {
    border-bottom: 2px dotted bisque;
    margin-top: 1rem;
    font-size: 1rem;
    color: aliceblue;
}

.footer-column .fa {
    padding: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: #fff;
}

.footer-column > a:hover {
    opacity: 0.7;
}

.footer-column .social_media {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.footer-column .social_media a {
    background: #454649;
    border-radius: 10px;
    padding: 1rem;
}


footer .copyright {
    width: 100%;
    background-color: #202020;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
    padding: .5rem 0;
}