@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f5f5;
    display: grid;
    place-items: center;
    font-family: 'Lato';
}

img {
    width: 70px;
    height: fit-content; 
    margin: 20px;
}

h3 {
    font-weight: bold;
    font-size: 15px;
    color: #747474;
}

.container {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 500px;
    max-width: 100%;
    min-height: 550px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first{
    margin-top: 120px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.uppersec {
    margin-top: 30px;
    display: flex;
    justify-content:start;
    align-items: center;
    flex-direction: column;
    transform: translateY(-90px);
    line-height: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translate(0px, -85px);
    justify-content: center;
    align-items: center;
}

.content form {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    font-size: larger;
}

.first input {
    border: 1px solid #747474;
    margin: 5px 0 ;
    padding: 10px;
    border-radius: 8px;
    width: 200px;
}

.first input::placeholder{
    font-size: 15px;
}

button {
    margin-top: 10px;
    background-color: #0ba360;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #11bd72;
}

.content a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.content a p{
    margin: 0 0 3px 5px;
}

p:hover {
    text-decoration: underline;
}

#first {
    display: block;
}

#second {
    display: none;
}

#third {
    display: none;
}

.second #c2 {
    color: #0ba360;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    margin: 100px 0;
    height: 100%;
    min-height: 300px;
    text-align: center;
}

.second #c2 h2 {
    font-size: 30px; 
    margin-bottom: 20px;
}

/* Answer section */
.second input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 10px 0;
    width: 75%;
}



.second label {
    display: block;
    padding: 15px 50px;
    color: black;
}


/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    
    font-family: Arial;
    width: 100%;
    margin-bottom: 10px;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: #eee;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: rgb(0, 0, 0) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent rgb(0, 0, 0) transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: black;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #eee;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}



.third {
    display: none;
    color: #0ba360;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0 50px;
    height: 100%;
    min-height: 300px;
    text-align: center;
    width: 75%;
}

.third .chgpass {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 10px;
    color: black;
}

.third input {
    border: 1px solid #747474;
    margin: 10px 0 ;
    padding: 10px;
    border-radius: 8px;
    height: 60%;
}

.third img {
    width: 30%;
    margin-bottom: 10px;
}
