@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    color: white;
    font-family: 'Fjalla One', sans-serif;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #030303;
}

.home-header > div {
    position: absolute;
    z-index: 100;
}

.mask {
    overflow: hidden;
}

#logo {
    top: 3vh;
    left: 2vw;
    padding-left: 2.0vw;
}

#logo .logo-text{
    color: #fff;
    font-size: 1.7vw;
    font-weight: 900;
}

.hero #logo .logo-text{
    display: block;
    transform: translateX(-150%);
    transition: transform 1s .2s, opacity 1s .2s;
    opacity: 0;
}

.hero.ready #logo .logo-text{
    transform: translateX(0);
    opacity: 1;
}

#logo::before{
    position: absolute;
    content: '';
    width: 3px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
}

.hero #logo::before{
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: transform 0.35s cubic-bezier(0.694, 0, 0.335, 1);
}

.hero.ready #logo::before{
    transform: scaleY(1);
}

#header, .home-item{
    display: flex;
    justify-content: space-around;
    width: 30vw;
    height: 3.5rem;
    top: 1.4vh;
    left: 67vw;
    padding-bottom: 1rem;
}

#header a, .home-item a{
    text-align: center;
    color: #fff;
    padding: 1rem;
    font-size: 1.5vw;
    font-weight: 500;
}

.hero #header a, .hero .home-item a{
    transform: translateY(100%);
    opacity: 0;
    transition: transform 1s .7s, opacity 1s .7s;
}

.hero.ready #header a, .hero.ready .home-item a{
    transform: translateY(0);
    opacity: 1;
}

#header::before, .home-item::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 0.1vh;
    top: 5vh;
    left: 0;
    background-color: #fff;
}

.hero #header::before, .hero .home-item::before{
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.35s cubic-bezier(0.694, 0, 0.335, 1);
}

.hero.ready #header::before, .hero.ready .home-item::before{
    animation-name: fadeX;
    animation-duration: 2.5s;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.content-container img {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.content-container #slogan {
    display: block;
    position: absolute;
    text-align: center;
    width: 60vw;
    height: 30vh;
    z-index: 100;
}

.hero.ready .content-container #slogan::before, .hero.ready .content-container #slogan::after{
    position: absolute;
    content: '';
    width: 4px;
    height: 65%;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: scaleY(0);
    animation-duration: 2.5s;
    animation-name: fadeY;
}

.hero.ready .content-container #slogan::after{
    left: 59.6vw;
}

.content-container #slogan h2 {
    font-size: 4vw;
}

.content-container #slogan h3 {
    margin-top: 1vh;
    font-size: 3vw;
}

.hero .content-container #slogan h2, .hero .content-container #slogan h3{
    opacity: 0;
    transition: transform .8s .7s, opacity .5s .7s;
}

.hero .content-container #slogan h2{
    transform: translateX(120%);
}

.hero .content-container #slogan h3{
    transform: translateX(-120%);
}

.hero.ready .content-container #slogan h2, .hero.ready .content-container #slogan h3{
    opacity: 1;
    transform: translateX(0);
}

.home-item .fa {
    margin: 5px 1vw;
    width: 3.7vw;
}

.home-item .fa:active{
    color: #454649;
}

#home-create-blog {
    top: 3vh;
    left: 14vw;
}

#home-create-blog .fa {
    font-size: 2vw;
    color: #fff;
}

#home-search-form {
    top: 3vh;
    left: 20vw;
    width: 44vw;
    height: 2vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

#home-search-form {
    top: 3vh;
    left: 20vw;
    width: 44vw;
    height: 2vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

#home-search-form > form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

#home-search-form > form > label{
    color: #fff;
    cursor: pointer;
}

#home-search-bar {
    width: 90%;
    border: none;
    outline: none;
    background: none;
    border-radius: 10px;
    padding-left: 10px;
    line-height: 20px;
    margin-left: 14px;
    font-size: 1.3rem;
    opacity: .3;
    transition: opacity .5s;
}

#home-search-bar:focus{
    opacity: 1;
    background: grey;
}

.nav-down {
    position: relative;
    border: 4px solid yellow;
    background: transparent;
    border-radius: 25px;
    top: 5vh;
    padding: .7vh 2vw;
    color: #fff;
    text-transform: uppercase;
    font-size: 1vw;
}

.nav-down:hover{
    border: 4px solid;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
}

.info-container .grid {
    width: 99vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.big{
    font-size: 2vw;
    margin-bottom: 2rem;
}

.small{
    font-size: 1vw;
    line-height: 2rem;
}

.grid .container{
    display: flex;
    justify-content: center;
    width: 60vw;
}

.grid .container .leftImage {
    margin: 5vw;
}

.grid .container .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
}

.grid .signup-container{
    flex-direction: column;
}

.grid .signup-container .join-text {
    width: 40vw;
    text-align: center;
}

.grid .signup-container .register{
    border-radius: .5rem;
    margin-top: 5vh;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem;
    width: fit-content;
    background: #434343;
}

.grid .signup-container .register:hover{
    filter: brightness(120%);
}

.hero.ready .info-container .grid.left-slide {
    background: linear-gradient(to right, black 50%, #272626 50%);
    background-size: 200% 100%;
    background-position:left bottom;
    transition:all 1s;
}

.hero.ready .info-container .grid.right-slide {
    background: linear-gradient(to left, black 50%,  #434343 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 1s;
}

.hero.ready .info-container .grid.left-slide.in-view{
    background-position:right bottom;
}

.hero.ready .info-container .grid.right-slide.in-view{
    background-position:left bottom;
}

.hero.ready .info-container .grid > div{
    opacity: 0;
    transition: opacity .5s .8s ease-in-out;
}

.hero.ready .info-container .grid.in-view > div{
    opacity: 1;
}

.content-container #slogan > *,  .grid .container .description > *, .grid .signup-container .join-text > *{
    color: #fff;
}

/* Animations */
@keyframes fadeY {
    0% {
        transform: scaleY(0);
    
    }

    50% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}

@keyframes fadeX {
    0% {
        transform: scaleX(0);
    
    }

    50% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}