.main {
    justify-content: center;
}

.settings-container {
    font-size: 1.2rem;
    flex-direction: column;
    width: 70vw;
    
}

.input-container {
    width: 80%;
    flex-direction: column;
    justify-content: center;
}

.input-container > div {
    margin: 20px 0;
}

.profile_pic {
    width: fit-content;
    color: transparent;
    justify-content: center;
    transition: all 0.3s ease;
}

.inputimg {
    display: none;
}

.picture{
    position: absolute;
    object-fit: cover;
    width: 165px;
    height: 165px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
    border-radius: 50%;
    z-index: 0;
}

.profile_pic > label {
    color: white;
    cursor: pointer;
    height: 165px;
    width: 165px;
}

.profile_pic:hover > label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    z-index: 100;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;
}

.input-field {
    width: 100%;
}

.input-field > * {
    margin: 10px 0;
}

.input-field > input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-btn {
    width: 100px;
    height: 50px;
    margin: 10px 0;
    border: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 1rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    overflow: hidden;
}

.submit-btn:hover{
    opacity: .8;
}

textarea{
    resize: none;
}