@import url('https://db.onlinewebfonts.com/c/a44207bfe4040f536c824dbbf82f5ed1?family=e-Ukraine');

/* Support Page Styling */

.container {
   width: 69%;
   height: 69vh;
   margin: 30px auto;
   font-family: "e-Ukraine";
}

.title {
   line-height: 3;
}

.form-box {
   display: flex;
   flex-wrap: wrap;
}

.user-details {
   width: 100%;
   display: flex;
}

.user-details label {
   color: grey;
   font-size: 13px;
}

.sec1 {
   display: flex;
   flex-direction: column;
   width: 40%;
   margin-right: 30px;
}

.sec1 > input {
   height: 35px;
   padding: 10px;
   font-size: 16px;
}

.sec1 > input:not(:last-child) {
   margin-bottom: 13px;
}

.sec2 {
   display: flex;
   flex-direction: column;
   width: 60%;
}

.sec2 > textarea {
   resize: none;
   padding: 13px;
   height: 230px;
   font-size: 15px;
   font-family: "e-Ukraine";
}

.submit-button {
   width: 100%;
   text-align: center;
   margin-top: 30px;
}

.submit-button > .submit {
   padding: 10px 29px;
   border-radius: 6px;
   border: none;
   font-size: 20px;
   background-color: #0ba360;
}

.submit-button > .submit:hover {
   cursor: pointer;
   color: white;
   font-size: 21px;
   transition: 100ms;
}
