@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body{
    height: 100vh;
    width: 98vw;
    font-family: 'Lato';
    font-size: 16px;
}

.agreement{
    text-align: center;
}

.button {
    border: 1px solid black;
    border-radius: 2rem;
    padding: 10px 20px;
    text-align: center;
    font-size: inherit;
}